a {
    text-decoration: none;
}

body {
    background-color: rgb(12, 12, 73);
}

img {
    width: 100%;
}

.section-head {
    width: 50%;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 48px;
    color: white;
    font-weight: 700;
}

.text {
    font-size: 18px;
    color: rgb(177, 177, 177);
    font-weight: 500;
}